include setup.py
include *.cfg
include *.rst
include LICENSE
include REQUIREMENTS

recursive-include parmoo *
recursive-include examples *
recursive-include docs *

recursive-exclude docs/build *
recursive-exclude * cov_*

global-exclude *.gitignore
global-exclude *.coverage
global-exclude __pycache__/*
global-exclude __pycache__/*/*
global-exclude __pycache__/*/*/*
global-exclude __pycache__/*/*/*/*
global-exclude .pytest_cache/*
global-exclude .pytest_cache/*/*
global-exclude .pytest_cache/*/*/*
global-exclude .pytest_cache/*/*/*/*
global-exclude *.o
global-exclude *.py[co]
global-exclude *.npy
global-exclude *.log
global-exclude libE_stats.txt
global-exclude parmoo.moop
global-exclude parmoo.simdb.json
global-exclude parmoo.surrogate.*
global-exclude parmoo.search.*
global-exclude parmoo.optimizer.*
global-exclude parmoo.acquisition.*
